@using ShopWithMe
@model ContainerData

@{
    ViewData["Title"] = "Create New List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>.:: Create New List ::.</h1>
    <hr />
</center>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">New List</th>
                <th scope="col">My Favorite Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <ul class="list-group">
                        @foreach (Proudct product in Model.newList.Proudcts)
                        {
                        <li class="list-group-item">
                            @Html.DisplayFor(modelItem => product.Name) @Html.DisplayFor(modelItem => product.Quantity)

                            @using (Html.BeginForm("Delete_product", "NewList", FormMethod.Post))
                            {
                                <input id="_product.Name" name="_product.Name" type="hidden" value="@product.Name" />
                                @*@Html.Hidden("_product.Quantity", product.Quantity)*@

                                @for (int j = 0; j < Model.Favorites.Count; j++)
                                {
                                    @Html.HiddenFor(m => m.Favorites[j].Id);
                                    @Html.HiddenFor(m => m.Favorites[j].Name);
                                    @Html.HiddenFor(m => m.Favorites[j].Price);
                                    @Html.HiddenFor(m => m.Favorites[j].Url);
                                    @Html.HiddenFor(m => m.Favorites[j].UserId);
                                    @Html.HiddenFor(m => m.Favorites[j].Type);
                                }
                                @Html.Hidden("Page_type", Model.Page_type);
                                @Html.Hidden("newList.NameList", Model.newList.NameList)
                                @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                {
                                    @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                    @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                }
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            }
                        </li>
                        }

                    </ul>
                </th>

                <th scope="row">
                    <table>
                        <tr row="3">

                            @for (int i = 0; i < Model.Favorites.Count; i++)
                            {
                                <td>
                                    <center>
                                        <div>
                                            <p>@Html.DisplayFor(m => Model.Favorites[i].Name)</p>
                                            <img src="@Model.Favorites[i].Url" alt="ring Photo" width="100" height="100" />
                                            @using (Html.BeginForm("Add_Update", "NewList", FormMethod.Post))
                                            {
                                                <input id="_product.Name" name="_product.Name" type="hidden" value="@Model.Favorites[i].Name" />
                                                @Html.LabelFor(m => m._product.Quantity)
                                                @Html.TextBoxFor(m => m._product.Quantity, new { type = "number" })

                                                @for (int j = 0; j < Model.Favorites.Count; j++)
                                                {
                                                    @Html.HiddenFor(m => m.Favorites[j].Id);
                                                    @Html.HiddenFor(m => m.Favorites[j].Name);
                                                    @Html.HiddenFor(m => m.Favorites[j].Price);
                                                    @Html.HiddenFor(m => m.Favorites[j].Url);
                                                    @Html.HiddenFor(m => m.Favorites[j].UserId);
                                                    @Html.HiddenFor(m => m.Favorites[j].Type);
                                                }
                                                @Html.Hidden("Page_type", Model.Page_type);
                                                @Html.Hidden("newList.NameList", Model.newList.NameList)
                                                @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                                {
                                                    @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                                    @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                                }
                                                <input type="submit" value="Add" class="btn btn-primary" />
                                            }
                                        </div>
                                    </center>
                                </td>
                                @if ((i + 1) % 4 == 0)
                                    WriteLiteral("</tr><tr>");
                            }
                        </tr>


                    </table>

                </th>
            </tr>

        </tbody>

    </table>

    @using (Html.BeginForm("Add_Update", "NewList", FormMethod.Post))
    {
        @Html.LabelFor(m => m._product.Name)
        @Html.TextBoxFor(m => m._product.Name, new { @required = "required" })
        @Html.LabelFor(m => m._product.Quantity)
        @Html.TextBoxFor(m => m._product.Quantity, new { @type = "number", @required = "required"})

        @for (int j = 0; j < Model.Favorites.Count; j++)
        {
            @Html.HiddenFor(m => m.Favorites[j].Id);
            @Html.HiddenFor(m => m.Favorites[j].Name);
            @Html.HiddenFor(m => m.Favorites[j].Price);
            @Html.HiddenFor(m => m.Favorites[j].Url);
            @Html.HiddenFor(m => m.Favorites[j].UserId);
            @Html.HiddenFor(m => m.Favorites[j].Type);
        }
        @Html.Hidden("Page_type", Model.Page_type);
        @Html.Hidden("newList.NameList", Model.newList.NameList)
        @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
        {
            @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
            @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
        }
        <input type="submit" value="Add" class="btn btn-primary" />
    }
</div>
<div style="float:right;">
    @using (Html.BeginForm("Save", "NewList"))
    {
        @Html.LabelFor(m => m.newList.NameList)
        @Html.TextBoxFor(m => m.newList.NameList, new { @type = "text", @Value = "enter name list", @required = "required" })

        @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
        {
            @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
            @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
        }
        @for (int j = 0; j < Model.Favorites.Count; j++)
        {
            @Html.HiddenFor(m => m.Favorites[j].Id);
            @Html.HiddenFor(m => m.Favorites[j].Name);
            @Html.HiddenFor(m => m.Favorites[j].Price);
            @Html.HiddenFor(m => m.Favorites[j].Url);
            @Html.HiddenFor(m => m.Favorites[j].UserId);
            @Html.HiddenFor(m => m.Favorites[j].Type);
        }
        <input type="submit" value="Save" class="btn btn-primary" />

    }
</div>

<br />
<br />

<center>

    <hr />
    <div>
        <a asp-action="Index">>> Back to List <<</a>
    </div>
</center>