@using ShopWithMe;
@model Favorites_Products


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <h1>.:: Update My List ::.</h1>
    <hr />
    @Html.ActionLink("Delete list", "Delete", "NewList", new { id = Model.IdList }, new { @class = "btn btn-danger" })
    <hr />
</center>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">New list</th>
                <th scope="col">Favorites</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <ul class="list-group">

                        @foreach (string product in Model.Products)
                        {
                            <li class="list-group-item">
                                @Html.DisplayFor(modelItem => product)

                                @Html.ActionLink("Delete", "Delete_product", "NewList", new { Page_type = "Edit", id = Model.IdList, Nameproduct = product, listproducts = Model.Products, favorites = Model.Favorites }, new { @class = "btn btn-primary" })
                            </li>
                        }

                    </ul>
                </th>

                <th scope="row">

                    <table>
                        <tr row="3">
                            @for (int i = 1; i <= Model.Favorites.Count; i++)
                            {
                            <td>
                                @Html.DisplayFor(modelItem => Model.Favorites[i - 1])
                               <p><img src="@Model.Urls[i - 1]" alt="ring Photo" width="100" height="100" /></p> 
                                @using (Html.BeginForm("Add_Update", "NewList", new { Page_type = "Edit", id = Model.IdList, Nameproduct = Model.Favorites[i - 1], listproducts = Model.Products, favorites = Model.Favorites }))
                                {
                                    <input type="number" value="1" name="quantity" />
                                    <p> <input type="submit" value="add" class="btn btn-primary" /></p>}
                            </td>
                                @if (i % 4 == 0)
                                {
                                    <script>
                                        document.write("</tr><tr>");
                                    </script>

                                }
                            }
                        </tr>
                    </table>
                </th>
            </tr>

        </tbody>

    </table>

    @using (Html.BeginForm("Add_Update", "NewList", new { Page_type = "Edit", id = Model.IdList, listproducts = Model.Products, favorites = Model.Favorites }))
    {
        <div class="form-group" style="float:left;">
            <a>Add/Update Product</a>
            <input type="text" name="Nameproduct" required />
            <input type="number" value="1" name="quantity" />
            <input type="submit" value="add" class="btn btn-primary" />
        </div>
    }

    <div>
        @using (Html.BeginForm("Update", "NewList", new { id = Model.IdList, listproducts = Model.Products, favorites = Model.Favorites }))
        {
            <div class="form-group">
                <a>Update</a>
                <input type="text" name="listname" required />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
            <input type="number" value="1" name="quantity" min="1" max="50" />
            <input type="submit" value="add" class="btn btn-primary" />
        </div>
    }
</div>
<div>
    @using (Html.BeginForm("Update", "NewList", new { id = Model.ID, listproducts = Model.Products, favorites = Model.Favorites }))
    {
        <div class="form-group" style="float:right;">
            <a>Update</a>
            <input type="text" name="listname" required />
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
</div>

<br />
<br />

<center>

    <hr />
    <div>
        <a asp-action="Index">>> Back to List <<</a>
    </div>
</center>
