@using ShopWithMe
@using ShopWithMe.Models
@model shoppingOL

@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Proudct> products = Model.NewList.Proudcts;
}

<head>
    <style>
        body {
            background-image: url(https://smallaxepeppers.com/wp-content/uploads/2019/05/Fresh-farmers-market-fruit-and-vegetable-from-above-with-copy-space-e1432779252529.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .table_List {
            border: 5px double gold;
            overflow: auto;
            width: 100%;
            text-align: center;
            table-layout: fixed;
        }

        h1 {
            text-shadow: 2px 2px 5px gold;
            font-family: Garamond, serif;
        }

        .div {
            width: 150px;
            height: auto;
            opacity: 60%;
            margin: 10px 10px 10px 10px;
        }

            .div:hover {
                opacity: 100%;
            }

        .div_scroll {
            width: 100%;
            height: 150px;
            overflow: auto;
        }

        .div_marquee {
            box-shadow: 5px 10px gold;
            background-color: darkgrey;
            font-family: 'Copperplate Gothic';
            font-size: x-large;
            text-shadow: 2px 2px 8px gold;
            height: 30px;
            margin: 40px;
            opacity: 90%;
        }

        .item_table {
            background-color: lightgray;
            text-align: center;
            width: contain;
            border: 5px double gold;
        }

        .table {
            text-align: center;
            width: contain;
            font-family: 'Copperplate Gothic';
        }

            .table th {
                background-color: gray;
                text-shadow: 2px 2px 5px #ffffff;
                width: 50%;
            }

        tr:hover {
            background-color: #f2f2f2;
        }

        .tbody_scroll {
            height: 50px; /* Just for the demo          */
            overflow-y: auto; /* Trigger vertical scroll    */
            /*overflow-x: hidden;*/ /* Hide the horizontal scroll */
        }
    </style>

    @*<meta http-equiv="Refresh" content="10">
        <script language="JavaScript">
            function myrefresh() {
                window.location.reload();
            }
            setTimeout('myrefresh ()'، 4000);
        </script>*@

    @*Email Sender Function*@
    <script>
        function myFunction() {
            var x = document.getElementById("ShareCart").value;
            document.getElementById("CartUrl").value = x;
        }
    </script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@

</head>

<body>
    <div style="opacity:90%;background-color:darkgrey;">
        <center>

            @*Title*@
            <div>
                <div id="test"></div>
                <h1>.:: Shopping ::.</h1>
                <hr />
                @if (User.Identity.Name == Model.NewList.UserId)
                {
                    @using (Html.BeginForm("Invite", "OnlineShopping", FormMethod.Post))
                    {
                        <table>
                            <tr>
                                <th scope="col">
                                    <input type="email" id="Email" name="email" placeholder="Friend Email" required>
                                </th>
                                <th scope="col" width="200px">
                                    <button id="ShareCart" value="@Model.CartUrl" onclick="myFunction()" style="width:100%;background-color:chartreuse">Invite Friend</button>
                                    <input id="CartUrl" name="CartUrl" type="hidden" />
                                    @*<button class="Sender">Send</button>*@
                                </th>
                            </tr>
                        </table>
                        <input id="Cart.Id" name="Cart.Id" type="hidden" value="@Model.Cart.Id" />
                        @Html.HiddenFor(m => m.id);
                        @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                        @Html.HiddenFor(m => m.NewList.Cart_Amount);
                        @Html.HiddenFor(m => m.NewList.Id);
                        @Html.HiddenFor(m => m.NewList.UserId);

                        @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                        {
                            @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                            <input type="hidden" @Html.Raw(string.Format($"id=NewList.Proudcts[{j}].Quantity name= NewList.Proudcts[{j}].Quantity value= {Model.NewList.Proudcts[j].Quantity}")) />
                        }
                    }
                    @*<script type="text/javascript">
                            $(document).ready(function () {
                                $(document).on('click', '.Sender', function () {
                                    $.ajax({
                                        url: 'get_table.php',
                                        method: "Post",
                                        dataType: 'json',
                                        success: function (response) {
                                            $('#table-to-refresh').html(response);
                                        }
                                    });
                                });
                            });
                        </script>*@
                }
            </div>

            @*Context*@
            <div style="width:100%">
                @*Title Table*@
                <div>
                    <table class="table">
                        <tr>
                            <th scope="col">@Model.NewList.NameList</th>
                            <th scope="col">Cart Amount: @Model.NewList.Cart_Amount?.ToString("₪#,##0.00")</th>
                        </tr>
                    </table>
                </div>

                @*Items Table*@
                <div style="width:contain">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Checked</th>
                                <th scope="col">Item</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Add To Cart</th>
                                @if (User.Identity.Name == Model.NewList.UserId)
                                {
                                    <th scope="col">Edit</th>
                                }

                            </tr>
                        </thead>

                        @*Scroll REQURE*@
                        <tbody class="tbody_scroll">
                            @foreach (Proudct proudct in products)
                            {
                                <tr>
                                    <td scope="col">
                                        <input type="checkbox">
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => proudct.Name)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => proudct.Quantity)
                                    </td>
                                    <td scope="col">
                                        @using (Html.BeginForm("AddToCart", "OnlineShopping", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(m => m.id);
                                            @Html.HiddenFor(m => m.Cart.UserId);
                                            @Html.HiddenFor(m => m.CartUrl);
                                            <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input id="_proudct.Quantity" name="_proudct.Quantity" type="number" placeholder="Enter Quantity" min="1" max="@proudct.Quantity" required="required" style="width:150px" />
                                                    </td>
                                                    <td>
                                                        <input id="_proudct.Price" name="_proudct.Price" type="number" placeholder="Enter Price" min="1" max="100" required="required" style="width:150px" />
                                                    </td>
                                                    <td>
                                                        <input type="submit" value="Add to Cart" class="btn btn-primary" />
                                                    </td>
                                                </tr>
                                            </table>

                                            @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                                            @Html.HiddenFor(m => m.NewList.Cart_Amount);
                                            Html.Hidden("NewList.Id", Model.NewList.Id);
                                            @*@Html.HiddenFor(m => m.NewList.Id);*@
                                            @Html.HiddenFor(m => m.NewList.UserId);

                                            @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                                                <input type="hidden" @Html.Raw(string.Format($"id=NewList.Proudcts[{j}].Quantity name= NewList.Proudcts[{j}].Quantity value= {Model.NewList.Proudcts[j].Quantity}")) />
                                            }

                                            @Html.HiddenFor(m => m.Cart.NameCart);
                                            <input id="Cart.Total" name="Cart.Total" type="hidden" value="@Model.Cart.Total" />
                                            @Html.HiddenFor(m => m.Cart.Id);
                                            @Html.HiddenFor(m => m.Cart.Total);

                                            @for (int j = 0; j < Model.Cart.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Quantity);
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Price);

                                            }
                                        }
                                    </td>
                                    @if (User.Identity.Name == Model.NewList.UserId)
                                    {
                                        <td scope="col">
                                            @using (Html.BeginForm("Delete_product", "OnlineShopping", FormMethod.Post))
                                            {
                                                @Html.HiddenFor(m => m.id);

                                                <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                                <input id="action" name="action" type="hidden" value="NewList" />

                                                @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                                                @Html.HiddenFor(m => m.NewList.Cart_Amount);
                                                @Html.HiddenFor(m => m.NewList.Id);
                                                @Html.HiddenFor(m => m.NewList.UserId);
                                                @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                                                {
                                                    @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                                                    <input type="hidden" @Html.Raw(string.Format($"id=NewList.Proudcts[{j}].Quantity name= NewList.Proudcts[{j}].Quantity value= {Model.NewList.Proudcts[j].Quantity}")) />
                                                }
                                                @Html.HiddenFor(m => m.Cart.NameCart)
                                                <input id="Cart.Total" name="Cart.Total" type="hidden" value="@Model.Cart.Total" />

                                                @for (int j = 0; j < Model.Cart.Proudcts.Count; j++)
                                                {
                                                    @Html.HiddenFor(m => m.Cart.Proudcts[j].Name);
                                                    @Html.HiddenFor(m => m.Cart.Proudcts[j].Quantity);
                                                    @Html.HiddenFor(m => m.Cart.Proudcts[j].Price);

                                                }
                                                <input type="submit" value="Delete" class="btn btn-primary" style="width:150px;background-color:darkred" />
                                            }
                                        </td>
                                    }

                                </tr>
                            }

                        </tbody>
                        @if (User.Identity.Name == Model.NewList.UserId)
                        {
                            <tfoot>
                                <tr>
                                    <th colspan="5">Create New Item</th>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        @using (Html.BeginForm("Add_Update", "OnlineShopping", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(m => m.id);
                                            @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                                            @Html.HiddenFor(m => m.NewList.Cart_Amount);
                                            @Html.HiddenFor(m => m.NewList.Id);
                                            @Html.HiddenFor(m => m.NewList.UserId);
                                            @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.NewList.Proudcts[j].Quantity);
                                            }
                                            @Html.HiddenFor(m => m.Cart.NameCart)
                                            @Html.HiddenFor(m => m.Cart.Id);
                                            <input id="Cart.Total" name="Cart.Total" type="hidden" value="@Model.Cart.Total" />
                                            @for (int j = 0; j < Model.Cart.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Name);

                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Quantity);
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Price);

                                            }

                                            /*Table*/
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <input id="_proudct.Name" name="_proudct.Name" type="text" placeholder="Enter Name proudct" style="width:200px" />
                                                    </td>
                                                    <td>
                                                        <input id="_proudct.Quantity" name="_proudct.Quantity" type="number" placeholder="Enter Quantity" min="1" max="100" required="required" style="width:200px" />
                                                    </td>
                                                    <td>
                                                        <input type="submit" value="Add" class="btn btn-primary" style="width:200px" />
                                                    </td>
                                                </tr>
                                            </table>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>

                @*Cart Table Title*@
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Model.Cart.NameCart</th>
                                <th scope="col">Cart Price : @Model.Cart.Total.ToString("₪#,##0.00")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                @*Cart Table Details*@
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Proudct proudct in Model.Cart.Proudcts)
                            {
                                <tr>

                                    @*Name*@
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => proudct.Name)
                                    </td>

                                    @*Quantity*@
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => proudct.Quantity)
                                    </td>

                                    @*Price*@
                                    <td scope="col">
                                        <script>
                                        var a = (@proudct.Price) / (@proudct.Quantity);
                                        document.write(a);
                                        </script>
                                    </td>

                                    @*Total*@
                                    <td scope="col">
                                        @proudct.Price.ToString("₪#,##0.00")
                                    </td>

                                    @*Delete*@
                                    <td>
                                        @using (Html.BeginForm("Delete_product", "OnlineShopping", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(m => m.id);
                                            <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                            <input id="_proudct.Price" name="_proudct.Price" type="hidden" value="@proudct.Price" />
                                            <input id="action" name="action" type="hidden" value="Cart" />
                                            @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                                            @Html.HiddenFor(m => m.NewList.Cart_Amount);
                                            @Html.HiddenFor(m => m.NewList.Id);
                                            @Html.HiddenFor(m => m.NewList.UserId);
                                            @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.NewList.Proudcts[j].Quantity);
                                            }
                                            @Html.HiddenFor(m => m.Cart.NameCart)
                                            @Html.HiddenFor(m => m.Cart.Id);
                                            <input id="Cart.Total" name="Cart.Total" type="hidden" value="@Model.Cart.Total" />

                                            @for (int j = 0; j < Model.Cart.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Quantity);
                                                @Html.HiddenFor(m => m.Cart.Proudcts[j].Price);

                                            }
                                            <input type="submit" value="Delete" class="btn btn-primary" style="width:150px;background-color:darkred" />
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*Save & Update*@
                <div>
                    <table>
                        <tr>
                            <td>
                                @using (Html.BeginForm("Save_and_finish", "OnlineShopping", FormMethod.Post))
                                {
                                    <input id="action" name="action" type="hidden" value="Cart" />
                                    @Html.HiddenFor(m => m.id);
                                    @Html.Hidden("NewList.NameList", Model.NewList.NameList)
                                    @Html.HiddenFor(m => m.NewList.Cart_Amount);
                                    @Html.HiddenFor(m => m.NewList.Id);
                                    @Html.HiddenFor(m => m.NewList.UserId);
                                    @for (int j = 0; j < Model.NewList.Proudcts.Count; j++)
                                    {
                                        @Html.HiddenFor(m => m.NewList.Proudcts[j].Name);
                                        <input type="hidden" @Html.Raw(string.Format($"id=NewList.Proudcts[{j}].Quantity name= NewList.Proudcts[{j}].Quantity value= {Model.NewList.Proudcts[j].Quantity}")) />
                                    }
                                    @Html.HiddenFor(m => m.Cart.NameCart)
                                    <input id="Cart.Total" name="Cart.Total" type="hidden" value="@Model.Cart.Total" />
                                    @Html.HiddenFor(m => m.Cart.Id);

                                    @for (int j = 0; j < Model.Cart.Proudcts.Count; j++)
                                    {

                                        @Html.HiddenFor(m => m.Cart.Proudcts[j].Name);
                                        @Html.HiddenFor(m => m.Cart.Proudcts[j].Quantity);
                                        @Html.HiddenFor(m => m.Cart.Proudcts[j].Price);
                                    }
                                    <input type="submit" value="Save&finish" class="btn btn-primary" style="width:150px;background-color:darkolivegreen" />
                                }
                            </td>
                        </tr>

                    </table>






                    <hr />
                    <div>
                        <a asp-controller="Home" asp-action="Index">>> ! Exit ! <<</a>
                    </div>

                </div>
            </div>


        </center>
    </div>

    <input type="hidden" value="@Model.id" id="cart-id" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder().withUrl("/shopping").build();
        connection.start().then(function () {
        }).catch(function (err) {
            return console.error(err.toString());
        });

        var cartId = document.querySelector("#cart-id").value;
        connection.on("UserConnected", function (connectionId) {
            connection.invoke("AddToGroup", cartId, connectionId);
            console.log("User with the connection id of" + connectionId + " has been added to group " + cartId);

        });

        connection.on("ShoppingListUpdated", function () {
            var tbody = document.querySelector("test");
            tbody.innerHTML = "";
            var HTML = `<h1>FirasTest<h1/>`;
            tbody.innerHTML = HTML;
        })
    </script>
</body>
