@using ShopWithMe
@model ContainerDataOnlineShopping

@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>.:: Shopping ::.</h1>
    <hr />
</center>

<div>
    <center>
        <table class="table table-striped">

            <tr>
                <th>
                    @Model.newList.NameList
                </th>
                <th>
                    Cart Amount: @Model.newList.Cart_Amount?.ToString("₪#,##0.00")
                </th>
            </tr>
            <tr>
                <td>
                    <center>

                        <ul class="list-group">
                            @foreach (Proudct proudct in Model.newList.Proudcts)
                            {

                                <li class="list-group-item">
                                    <input type="checkbox">
                                    @Html.DisplayFor(modelItem => proudct.Name) @Html.DisplayFor(modelItem => proudct.Quantity)

                                    @using (Html.BeginForm("AddToCart", "OnlineShopping", FormMethod.Post))
                                    {
                                        <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                        <input id="_proudct.Quantity" name="_proudct.Quantity" type="number" placeholder="Enter Quantity" min="1" max="@proudct.Quantity" required="required" />
                                        <input id="_proudct.Price" name="_proudct.Price" type="number" placeholder="Enter Price" min="1" max="100" required="required" />

                                        @Html.Hidden("newList.NameList", Model.newList.NameList)
                                        @Html.HiddenFor(m => m.newList.Cart_Amount);
                                        @Html.HiddenFor(m => m.newList.Id);
                                        @Html.HiddenFor(m => m.newList.UserId);


                                        @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                        {
                                            @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                            @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                        }

                                        @Html.HiddenFor(m => m.cart.NameCart);
                                        <input id="cart.Total" name="cart.Total" type="hidden" value="@Model.cart.Total" />

                                        @Html.HiddenFor(m => m.cart.Total);

                                        @for (int j = 0; j < Model.cart.Proudcts.Count; j++)
                                        {
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Name);
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Quantity);
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Price);

                                        }
                                        <input type="submit" value="Add to cart" class="btn btn-primary" />
                                    }

                                    @using (Html.BeginForm("Delete_product", "OnlineShopping", FormMethod.Post))
                                    {

                                        <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                        <input id="action" name="action" type="hidden" value="NewList" />

                                        @Html.Hidden("newList.NameList", Model.newList.NameList)
                                        @Html.HiddenFor(m => m.newList.Cart_Amount);
                                        @Html.HiddenFor(m => m.newList.Id);
                                        @Html.HiddenFor(m => m.newList.UserId);
                                        @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                        {
                                            @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                            @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                        }
                                        @Html.HiddenFor(m => m.cart.NameCart)
                                        <input id="cart.Total" name="cart.Total" type="hidden" value="@Model.cart.Total" />

                                        @for (int j = 0; j < Model.cart.Proudcts.Count; j++)
                                        {
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Name);
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Quantity);
                                            @Html.HiddenFor(m => m.cart.Proudcts[j].Price);

                                        }
                                        <input type="submit" value="Delete" class="btn btn-primary" />
                                    }

                                </li>

                            }
                            <li class="list-group-item">
                                @using (Html.BeginForm("Add_Update", "OnlineShopping", FormMethod.Post))
                                {
                                    <input id="_proudct.Name" name="_proudct.Name" type="text" placeholder="Enter Name proudct" />
                                    <input id="_proudct.Quantity" name="_proudct.Quantity" type="number" placeholder="Enter Quantity" min="1" max="100" required="required" />

                                    @Html.Hidden("newList.NameList", Model.newList.NameList)
                                    @Html.HiddenFor(m => m.newList.Cart_Amount);
                                    @Html.HiddenFor(m => m.newList.Id);
                                    @Html.HiddenFor(m => m.newList.UserId);
                                    @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                    {
                                        @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                        @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                    }
                                    @Html.HiddenFor(m => m.cart.NameCart)
                                    <input id="cart.Total" name="cart.Total" type="hidden" value="@Model.cart.Total" />
                                    @for (int j = 0; j < Model.cart.Proudcts.Count; j++)
                                    {
                                        @Html.HiddenFor(m => m.cart.Proudcts[j].Name);
                                        @Html.HiddenFor(m => m.cart.Proudcts[j].Quantity);
                                        @Html.HiddenFor(m => m.cart.Proudcts[j].Price);

                                    }
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                }
                            </li>
                        </ul>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</div>

<div>
    <div>
        <center>
            <table class="table table-striped">

                <tr>
                    <th>
                        @Model.cart.NameCart
                    </th>
                    <th>
                        Cart Price:@Model.cart.Total.ToString("₪#,##0.00")
                    </th>
                </tr>
                <tr>
                    <td>
                        <center>
                            <ul class="list-group">
                                @foreach (Proudct proudct in Model.cart.Proudcts)
                                {
                                    <li class="list-group-item">
                                        @Html.DisplayFor(modelItem => proudct.Name)  @Html.DisplayFor(modelItem => proudct.Quantity)  @proudct.Price.ToString("₪#,##0.00")

                                        @using (Html.BeginForm("Delete_product", "OnlineShopping", FormMethod.Post))
                                        {
                                            <input id="_proudct.Name" name="_proudct.Name" type="hidden" value="@proudct.Name" />
                                            <input id="_proudct.Price" name="_proudct.Price" type="hidden" value="@proudct.Price" />
                                            <input id="action" name="action" type="hidden" value="Cart" />
                                            @Html.Hidden("newList.NameList", Model.newList.NameList)
                                            @Html.HiddenFor(m => m.newList.Cart_Amount);
                                            @Html.HiddenFor(m => m.newList.Id);
                                            @Html.HiddenFor(m => m.newList.UserId);
                                            @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                                            }
                                            @Html.HiddenFor(m => m.cart.NameCart)
                                            <input id="cart.Total" name="cart.Total" type="hidden" value="@Model.cart.Total" />

                                            @for (int j = 0; j < Model.cart.Proudcts.Count; j++)
                                            {
                                                @Html.HiddenFor(m => m.cart.Proudcts[j].Name);
                                                @Html.HiddenFor(m => m.cart.Proudcts[j].Quantity);
                                                @Html.HiddenFor(m => m.cart.Proudcts[j].Price);

                                            }
                                            <input type="submit" value="Delete" class="btn btn-primary" />
                                        }
                                    </li>

                                }
                            </ul>
                        </center>
                    </td>
                </tr>

            </table>
        </center>
    </div>


    <table>
        <tr>
            <td>
                @using (Html.BeginForm("Save_and_finish", "OnlineShopping", FormMethod.Post))
                {
                    <input id="action" name="action" type="hidden" value="Cart" />

                    @Html.Hidden("newList.NameList", Model.newList.NameList)
                    @Html.HiddenFor(m => m.newList.Cart_Amount);
                    @Html.HiddenFor(m => m.newList.Id);
                    @Html.HiddenFor(m => m.newList.UserId);
                    @for (int j = 0; j < Model.newList.Proudcts.Count; j++)
                    {
                        @Html.HiddenFor(m => m.newList.Proudcts[j].Name);
                        @Html.HiddenFor(m => m.newList.Proudcts[j].Quantity);
                    }
                    @Html.HiddenFor(m => m.cart.NameCart)
                    <input id="cart.Total" name="cart.Total" type="hidden" value="@Model.cart.Total" />

                    @for (int j = 0; j < Model.cart.Proudcts.Count; j++)
                    {
                        @Html.HiddenFor(m => m.cart.Proudcts[j].Name);
                        @Html.HiddenFor(m => m.cart.Proudcts[j].Quantity);
                        @Html.HiddenFor(m => m.cart.Proudcts[j].Price);
                    }
                    <input type="submit" value="Save&finish" class="btn btn-primary" />
                }
            </td>
        </tr>

    </table>







    <br />
    <br />

    <center>

        <hr />
        <div>
            <a asp-action="Index">>> Back to List <<</a>
        </div>
    </center>
